**/.vscode
**/.ipynb_checkpoints
**/.virtual_documents
**/__pycache__
logs
notebooks/*
**/*.pt
**/*.pth
data/MNIST/*
data_nocommit/*
ckpts/*
src/methods/light_sb_d_torch.py
data/*
src/methods/light_sb_d_parallel.py
src/methods/light_sb_d_conv.py
src/benchmark/benchmark_old.py
gan_training_loss.png
methods/light_sb_d.py
checkpoints/*
.venv